<div class="main-container">
  <div class="add-container">
    <div class="add-button">
      <span> + </span>
    </div>
    <div class="add-text-container">
      <h1>Add new employee</h1>
    </div>
  </div>
  <div class="table-container">
    <section class="header-table">
      <div>
        <ul>
          <li class="header-table-text">
            <p>Email</p>
          </li>
          <li class="header-table-text">
            <p>Name</p>
          </li>
          <li class="header-table-text">
            <p>Position</p>
          </li>
          <li class="header-table-text">
            <p>Number</p>
          </li>
          <li class="header-table-text">
            <p>Private Number</p>
          </li>
          <li class="header-table-text">
            <p>Actions</p>
          </li>
        </ul>
      </div>
    </section>
    <% @employees.each do |employee| %>
      <section class="employees-table">
        <ul class= "employees-table-list" >
          <li class="eployees-table-cell">
            <p><%= employee.email %></p>
          </li>
          <li class="eployees-table-cell">
            <p><%= employee.name %>Jose Juan Morales Bravo</p>
          </li>
          <li class="eployees-table-cell">
            <p><%= employee.position %>Sr.enginner</p>
          </li>
          <li class="eployees-table-cell">
            <p><%= employee.employee_number %>303040394</p>
          </li>
          <li class="eployees-table-cell">
            <p><%= employee.private_number %>232342354</p>
          </li>
          <li class="buttons-container">
            <section>
              <button class="button-edit">Edit</button>
              <button class="button-delete">Delete</button>
            </section>
          </li>
        </ul>
      </section>
    <%end%>
  </section>
</div>
</div>
