<!DOCTYPE html>
<html>
  <head>
    <title>Relojchecador</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
    
      <div><img src= "TIME-CHECKER.svg" alt="" class="logo"> </div>
      <div><button class="nav-button" >Admin</button></div>
    </nav>
    <%= yield %>
      <footer>
        <p>© - Team 2 - Iker Toscano,
            Diego Morales,
            Everardo Alcaraz
        </p>
      </footer>
  </body>
</html>
